body {
    background-color: rgb(44, 87, 122);
}

nav {
    background-color: rgb(72, 204, 204);
    height: 70px;
    display: flex;
    border-radius: 10px;
}

nav a {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    font-size: 20px;
    font-weight: 20px;
    text-decoration: none;
}

.box {
    text-align: center;
    margin: 50px;
    background-color: rgb(136, 42, 153);
    height: 400px;
    width: 500px;
    border-radius: 30px;
}

.box .title {
    margin: 20px;
    padding-top: 30px;
    border-radius: 10px;
    border-style: groove;
    border-width: 3px;
    border-color: coral;
}

.box .message {
    padding-top: 30px;
    height: 80px;
    border-radius: 10px;
    border-style: groove;
    border-width: 3px;
    border-color: coral;
}

h2 {
    padding-top: 20px;
}

.submit .button {
    text-align: center;
    margin-left: 240px;
    padding: 20px;
    border-radius: 20px;
    color: rgb(10, 10, 9);
    background-color: rgb(23, 185, 85);
    border-width: 0.5ch;
}

.submit .button:hover {
    background-color: transparent;
}