body {
    background-color: rgb(141, 193, 223);
}

.container {
    background-color: cornsilk;
    border-radius: 2%;

    /* height: 100rem; */
}

.container .card {
    background-color: rgb(206, 124, 124);

}