body {
    background-color: rgb(141, 193, 223);
}

.container {
    background-color: cornsilk;
    border-radius: 2%;

    /* height: 100rem; */
}

.container .card {
    background-color: rgb(206, 124, 124);

}

.accordion-item {
    margin: 20px;
    border-radius: 4%;

}

.accordion-button {
    border-style: dotted;
}

.dbutton {
    margin: 20px;
}

footer {
    background: #111;
    padding: 20px 23px;
    color: #fff;
    display: flex;
}

footer .icon {
    display: flex;
    padding-left: 500px;
}

footer .icon .Github {
    padding-left: 50px;
    color: #fff;
    transition: all 0.6s ease;
}

footer .icon .Github:hover {
    color: #00FFFF;
    transition: all 0.6s ease;
    background: none;

}

footer .icon .Facebook {
    padding-left: 50px;
    color: blue;
    transition: all 0.8s ease;
}

footer .icon .Facebook:hover {
    color: #00FFFF;
    transition: all 0.6s ease;
    background: none;

}

footer .icon .Instagram {
    padding-left: 50px;
    color: crimson;
    transition: all 0.10s ease;
}

footer .icon .Instagram:hover {
    color: #00FFFF;
    transition: all 0.6s ease;
    background: none;

}

footer .icon .Linkedin {
    padding-left: 50px;
    color: blue;
    transition: all 0.12s ease;
}

footer .icon .Linkedin:hover {
    color: #00FFFF;
    transition: all 0.6s ease;
    background: none;

}

footer .icon .Youtube {
    padding-left: 50px;
    color: crimson;
    transition: all 0.14s ease;
}

footer .icon .Youtube:hover {
    color: #00FFFF;
    transition: all 0.6s ease;
    background: none;

}

footer span a {
    color: crimson;
    text-decoration: none;

}

footer span a:hover {
    text-decoration: underline;
}